<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <div style="background-color: white;max-width: 150px;position: absolute;">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2686c0a9-9d5a-4a6b-ac08-4edf2d85db01" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </div>
      <h1 class="project-name">0MNITECK</h1>
      <h2 class="project-tagline"><a href="{{ site.github.repository_url }}" class="btn">{{ site.github.repository_url }}</a></br>
        <a href="https://omniteck.com" class="btn">OMNITECK.COM</a><a target=_blank href="https://github.com/0mniteck/0mniteck/blob/main/2024_Resume.pdf" class="btn">RÉSUMÉ</a></h2>
        <a href="https://u-boot.omniteck.com/" class="btn">U-Boot</a>
        <a href="https://signal-desktop-mobian.omniteck.com/" class="btn">Signal-Desktop-Builder</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <footer class="site-footer">
      </footer>
    </main>
  </body>
</html>
